{% extends 'denik/base.html' %}

{% block title %}Seznam investic{% endblock %}

{% block content %}
<h1>Seznam investic</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Název</th>
            <th>Typ</th>
            <th>Měna</th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody>
        {% for investice in investice_list %}
        <tr>
            <td>{{ investice.nazev }}</td>
            <td>{{ investice.typ }}</td>
            <td>{{ investice.mena }}</td>
            <td>
                <a href="{% url 'investice_detail' investice.pk %}" class="btn btn-primary btn-sm">Detail</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
