<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seznam investic</title>
</head>
<body>
    <h1>Seznam investic</h1>
    <ul>
        {% for investice in investice %}
            <li>
                <a href="{% url 'investice_detail' investice.pk %}">{{ investice.nazev }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Zpět na úvodní stránku</a>
</body>
</html>
